<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quetzal</title>
</head>
<body>
    <div>
        <img src="{% static 'img/prueba.jpg' %}" alt="">
        <h1>Bienvenido!</h1>
        <h2>Ingresa como: </h2>
        <a href=""><p>Cliente</p></a>
        <a href=""><p>Productor</p></a>
        <!--
            Falta agregar estilos con CSS
        -->
    </div>
</body>
</html>