<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Region especifica</title>
</head>
<body>
    {% for reg in region %} 
    <h1>{{reg.nombre}}</h1>
    <p>
        {{reg.nombre}}
        {{reg.caracteristicas}}

    clima
    temperatura
    altitud
        demografia
        contraseña sitio admin aguilaReal
        usuario: trigger
    </p>
    {% endfor %}
</body>
</html>