<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiones</title>
</head>
<body>
    <img src="{% static 'img/prueba.jpg' %}" alt="">
    <h1>Regiones cafetaleras:</h1>
    <table>
        {% for region in regiones %} 
        <tr>
            <td><img src="{% static 'img/descarga.jpg' %}" alt=""></td>
            <td><a href="{% url 'region_specific' region.nombre %}">{{ region.nombre }}</a></td>
        </tr>

        {% endfor %}

    </table>
</body>
</html>